<div class="modal fade" id="timeTrackingModal" tabindex="-1" aria-labelledby="timeTrackingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="timeTrackingModalLabel">{{ modalTitle }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Crear/Editar Formulario -->
          <form *ngIf="action !== 'delete'" [formGroup]="timeTrackingForm">
            <div class="mb-3">
              <label for="username" class="form-label">Usuario</label>
              <input type="text" id="username" class="form-control" formControlName="username" />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" id="email" class="form-control" formControlName="email" />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="text" id="password" class="form-control" formControlName="password" />
            </div>
            <div class="mb-3">
              <label for="createdAt" class="form-label">Creaciom</label>
              <input type="text" id="createdAt" class="form-control" formControlName="createdAt" />
            </div>
            <div class="mb-3">
              <label for="updatedAt" class="form-label">Actualizacion</label>
              <input type="text" id="updatedAt" class="form-control" formControlName="updatedAt" />
            </div>
          </form>
          <!-- Confirmar Eliminación -->
          <p *ngIf="action === 'delete'">
            ¿Estás seguro de que deseas eliminar este registro de Usuarios?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="action === 'create'" type="button" class="btn btn-primary" (click)="create()">Crear</button>
          <button *ngIf="action === 'edit'" type="button" class="btn btn-primary" (click)="edit()">Guardar Cambios</button>
          <button *ngIf="action === 'delete'" type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  